@model IEnumerable<RateItModels.Review.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Review Index</h2>

<p style="font-size:x-large;">
    @Html.ActionLink("Create A New Review", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table" style="color:black; font-size: medium;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowId)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowId)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })

            </td>
        </tr>
    }

</table>
