@model RateItModels.MovieReviewView

@{
    ViewBag.Title = "Details";
}

<h2>Detail</h2>

<div style="color:black; font-size: 20px;" >
    <h4>Movie Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.DirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.DirectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.DateRelease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.DateRelease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.GenreOfMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.GenreOfMovie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.ModifiedUtc)
        </dd>

    </dl>
</div>

<p style="font-size: x-large;">Avg Rating***** @ViewBag.AverageRating</p>
<hr />

@foreach (var review in Model.Reviews)
 {
    <div >
        <h4>ReviewDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => review.ReviewId)
            </dt>

            <dd>
                @Html.DisplayFor(model => review.ReviewId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => review.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => review.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => review.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => review.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => review.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => review.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => review.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => review.ModifiedUtc)
            </dd>

        </dl>
    </div>
 }

<p style="font-size:large;">

    @Html.ActionLink("Back to List", "AllMovies","Movie") |
    @Html.ActionLink("Create Review", "Create", "Review", new { ID = Model.Movie.MovieId }, null)

</p>
